---
let year = new Date().getFullYear();
---

<footer class="footer-bar">
  <div class="footer-left">
    <p>
      &copy; {year} Jonathan Moreno. All rights reserved.
    </p>
  </div>
  <div class="footer-right">
    <ul>
      <li>
        <a href="https://github.com/JM-2001/" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jonathan2001/" target="_blank"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
</footer>
