---
import { Image } from "astro:assets";
---

<div class="nav-bar" transition:persist>
  <ul class="not-hamburger">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/works">Portfolio</a>
    </li>
    <li>
      <a href="/#about-me">About Me</a>
    </li>
    <li>
      <a href="/#contact-me">Contact Me</a>
    </li>
  </ul>
  <ul class="hamburger">
    <li>
      <a href="/">
        <Image
          src="/favicon.ico"
          alt="logo"
          height={50}
          width={50}
          loading="eager"
        />
      </a>
    </li>
    <li id="menuBtn" transition:persist>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="50"
        height="50"
        viewBox="0 0 50 50"
      >
        <path
          d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"
        ></path>
      </svg>
    </li>
  </ul>
  <ul class="nav-mobile hidden">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/works">Portfolio</a>
    </li>
    <li>
      <a href="/#about-me">About Me</a>
    </li>
    <li>
      <a href="/#contact-me">Contact Me</a>
    </li>
  </ul>
</div>

<!-- <script is:inline>
  // data-astro-rerun
  const navBar = document.querySelector(".nav-bar");
  const navMobile = document.querySelector(".nav-mobile");
  const menu = document.getElementById("menuBtn");
  let menuOpen = false;

  if (menu) {
    console.log("menu exists");
    console.log(menu);
    menu.addEventListener("click", () => {
      if (menuOpen === true) {
        console.log("menu is closed");
        navMobile.classList.add("hidden");
        navBar.classList.remove("expanded");
        navBar.classList.add("collapsed");
        menuOpen = false;
      } else {
        console.log("menu is open");
        navMobile.classList.remove("hidden");
        navBar.classList.remove("collapsed");
        navBar.classList.add("expanded");

        menuOpen = true;
      }
    });
  }
</script> -->

<script is:inline>
  // data-astro-rerun
  const navBar = document.querySelector(".nav-bar");
  const navMobile = document.querySelector(".nav-mobile");
  const menu = document.getElementById("menuBtn");
  let menuOpen = false;

  if (menu) {
    menu.addEventListener("click", () => {
      if (menuOpen) {
        // Start collapse animation for both navBar and navMobile
        navBar.classList.remove("expanded");
        navBar.classList.add("collapsed");
        navMobile.classList.remove("expanded");
        navMobile.classList.add("collapsed");

        // Cleanup after collapse animation
        navBar.addEventListener(
          "animationend",
          () => {
            navBar.classList.remove("collapsed"); // Clean up navBar
          },
          { once: true }
        );

        navMobile.addEventListener(
          "animationend",
          () => {
            navMobile.classList.add("hidden"); // Hide navMobile after animation
            navMobile.classList.remove("collapsed"); // Clean up navMobile
            navMobile.style.opacity = ""; // Reset opacity for next time
          },
          { once: true }
        );

        menuOpen = false;
      } else {
        // Prepare for expanding
        navBar.classList.remove("collapsed");
        navMobile.classList.remove("hidden");
        navMobile.classList.remove("collapsed");
        navBar.classList.add("expanded");
        navMobile.classList.add("expanded");

        menuOpen = true;
      }
    });
  }
</script>
