---

---

<div class="nav-bar">
  <ul>
    <li>
      <a href="/main">Home</a>
    </li>
    <li>
      <a href="/main/works">Portfolio</a>
    </li>
    <li>
      <a href="/main#about-me">About Me</a>
    </li>
    <li>
      <a href="/main#contact-me">Contact Me</a>
    </li>
  </ul>
</div>
