body {
    background-image: url(Images/silverware.jpg);
    background-repeat: repeat;
}
h1, h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: "Lucida Sans Unicode", "Helvetica", "Arial", "Sans-Serif";
    text-decoration: underline;
    width: max-content;
}
h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
}
p, li {
    color: #404040;
    font-size: 11pt;
    font-family: "Georgia", "Garamond", "Sans-Serif";
}
div {
    background-color: #FFFFA8;
    font-style: italic;
    width: 95%;
    margin: auto;
}
a {
    color: #A4A400;
}
ul {
    list-style: url(Images/pie_icon.gif);
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }